.row-header {margin: 0px auto;
    padding: 0px;}

.row-content{margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 2px brown ridge;
    min-height:300px;}

.footer{background-color: #dbb08d;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;}

.jumbotron {padding: 60px 30px 60px 30px;
    margin: 0px auto;
    color: floralwhite;
    background-color: #6e3f19;}
body { padding: 50px 0px 0px 0px ;
z-index: 0;}
.bg-light{
    background-color: #dbb08d !important;
}
.table .thead-dark th {color: floralwhite;
background-color: #6e3f19;}

tr:hover {background-color: #dbb08db0 !important;}

.tab-content {border-left:solid 1px #ddd;
border-right:solid 1px #ddd;
border-bottom:solid 1px #ddd;
padding: 10px;
}

.carousel {
    background:#914d15b0
}
.carousel-item {
  height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}